*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body{
	background: url(../images/body_bg.jpg) no-repeat;
	font: 1.2rem;
	/*font-family: Microsoft YaHei;*/
}
a{
	text-decoration: none;
	color: #fff;
}
li:hover{
	text-decoration: underline;
}
/*************** nav start ****************/
nav{
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 50px;
}
nav ul{
  list-style: none;
  margin: 0 auto;
  float: right;
}
nav ul li , nav .logo{
  display: inline-block;
  line-height: 50px;
  margin-right: 20px;
}
nav ul li a{
  line-height: 50px;
  text-decoration: none;
  display: inline-block;
  height: inherit;
  color: #fff;
  font-size: 10px;
}
nav ul li.logo{
  float: left;
}
.logo{
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1px;
}
.logo a{
	color: #fff;
	text-decoration: none;
	padding: 10px;
	font-weight: normal;
}
.active2{
	border-bottom: 4px solid #fff;
}
/*************** nav end ****************/
/*************top start*************/
.top{
	width: 77%;
	height: 110px;
	margin: 0 auto;
}
h1{
	height: 30px;
	color: #fff;
	margin-top: 40px;
	text-shadow:3px 3px 3px #003d44; 
	font-size: 22px;
}
/*************top end***************/
/*************title start*************/
.title{
	width: 80%;
	height: 65px;
	line-height: 65px;
	background: #333;
	margin: 0 auto;
}
.title li{
	list-style: none;
	color: #fff;
	display: inline-block;
	margin-left: 30px;
	font-size: 16px;
	text-shadow:3px 3px 3px #000;
}
/*************title end***************/
/*************content start*************/
.content{
	width: 80%;
	background: #fff;
	margin: 0 auto;
}
/*
main
 */
.main{
	float: left;
	width: 70%;
	background: #fff;
	text-align: center;
}
.main div{
	display: inline-block;
	width: 93%;
	height: 150px;
	text-align: left;
	margin-top: 21px;
}
.main .important{
	display: block;
	width: 100%;
	height: 35px;
	border-bottom:1px solid #ccc;
	position: relative;
	padding-left: 15px;
	border-left: 5px solid #1fa6e6; 
}
.main a{
	display: inline;
	color: #1c7791;
	font-size: 16px;
	height: 35px;
	line-height: 35px;
}
.main a:hover{
	color: #FFCA8F;
}
.main div span{
	position: absolute;
	bottom: 0;
	right: 2px;
}
.main .blog-content{
	display: inline-block;
	width: 95%;
	/*margin: 10px auto;*/
	line-height: 20px;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-left: 20px;
}
.blog-content a{
	display: inline-block;
	font-size: 12px;
	color: #000;
	text-decoration: underline;
	line-height: 20px;
}
.main .blog-date{
	text-align: right;
	color: #aaa;
}
/*
nav
 */
.nav{
	width: 30%;
	height: 100%;
	margin-left: 70%;
	background: #fff;
}
.nav iframe{
	margin-top: 25px;
	margin-left: 10px;
	width: 90%;
}

/*************content end***************/
/*************top start*************/
/*************top end***************/

/*************top start*************/
/*************top end***************/

/*************top start*************/
/*************top end***************/