*{
	margin: 0;
	padding: 0;
}
body{
	background: #e0e0e0;
	font-family: "Microsoft Yahei", Georgia, Serif;
}
li{
	list-style: none;
}
.clearfix{
	
}
a{
	color: #475f85;
	letter-spacing: .5px; 
	text-decoration: none;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
.right a{
	color: #000;
	/*color: rgba(255,255,255,0.5);*/
}
.right a:hover{
	/*color: #ccc;*/
	color: #ccc;
}
/************ 我是华丽的分割线 O(∩_∩)O **************/
.container{
	width: 70%;
	height: 100%;
	margin: 15px auto;
	background: red;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	overflow: hidden;
}
/************ 我是华丽的分割线 O(∩_∩)O **************/
.left{
	float: left;
	width: 30%;
	height: 100%;
	background: #3A80A8;
	text-align: center;
}
.left img{
	border-radius: 50%;
	margin-top: 25px;

}
.nav{
	text-align: left;
}
.nav i, .nav p{
	display: inline-block;
}
/************ 我是华丽的分割线 O(∩_∩)O **************/
.right{
	float: left;
	width: 70%;
	height: 100%;
	background: #f0f2f1;
}
/************ 我是华丽的分割线 O(∩_∩)O **************/
.footer{
	text-align: center;
	margin-bottom: 10px;
}
.footer i{
	color: #d43f57;
}